<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias type="kr.co.rap.system.model.Manager" alias="Manager" />
        <typeAlias type="kr.co.rap.system.model.Ingredient" alias="Ingredient" />
        <typeAlias type="kr.co.rap.system.model.Recipe" alias="Recipe" />
        <typeAlias type="kr.co.rap.system.model.Mix" alias="Mix" />
        <typeAlias type="kr.co.rap.system.model.Manufacture" alias="Manufacture" />
    </typeAliases>
</configuration>