<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.rap.system.ingredient.IngredientMapper">
    <select id="selectAll"
            parameterType="Ingredient"
            resultType="Ingredient">
        SELECT NO, NAME, USED_COUNT, ADD_DATE FROM INGREDIENT
        <where>
            <if test="name != null and name != ''">
                NAME = #{name}
            </if>
        </where>
        ORDER BY NAME ASC
    </select>

    <select id="select"
            parameterType="Ingredient"
            resultType="Ingredient">
        SELECT NO, NAME, USED_COUNT, ADD_DATE FROM INGREDIENT
        WHERE NO = #{no}
    </select>

    <insert id="insert"
            parameterType="Ingredient">
        INSERT INTO INGREDIENT (NAME, ADD_DATE) VALUES (#{name}, NOW())
        <selectKey order="AFTER" keyColumn="NO" keyProperty="no" resultType="int">
            SELECT NO FROM INGREDIENT WHERE NAME = #{name}
        </selectKey>
    </insert>

    <update id="update"
            parameterType="Ingredient">
        UPDATE INGREDIENT
        <set>
            <if test="name != null and name != ''">
                NAME = #{name},
            </if>
            <if test="usedCount eq 1 or usedCount eq -1">
                USED_COUNT = USED_COUNT + #{usedCount},
            </if>
        </set>
        WHERE NO = #{no}
    </update>

    <delete id="delete"
            parameterType="Ingredient">
        DELETE FROM INGREDIENT
        <if test="no gt 0">
            WHERE NO = #{no}
        </if>
    </delete>
</mapper>