<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.rap.system.manufacture.ManufactureMapper">
    <select id="selectAll" parameterType="Map"
                           resultType="Manufacture">
        SELECT PLAN.NO
             , PLAN.MANUFACTURE_DATE
             , PLAN.RECIPE_NO
             , PLAN.OUTPUT
             , PLAN.ID
             , PLAN.ERROR_AMOUNT
             , PLAN.ADD_DATE
             , PLAN.STATUS,RP.NAME as RECIPE_NAME
        FROM MANUFACTURE_PLAN as PLAN INNER JOIN RECIPE as RP
        ON RP.NO = PLAN.RECIPE_NO

        <if test="start != null and start != ''
                        and end != null and end != ''">
            WHERE MANUFACTURE_DATE BETWEEN #{start} AND CONCAT(#{end}, ' 23:59:59')
        </if>
            ORDER BY MANUFACTURE_DATE IS NULL DESC, MANUFACTURE_DATE DESC
        <if test="page != null and page != ''">
            LIMIT ${page}, 10
        </if>
    </select>

    <select id="select" parameterType="Manufacture"
                        resultType="Manufacture">
        SELECT PLAN.NO
             , PLAN.RECIPE_NO
             , RP.NAME as RECIPE_NAME
             , OUTPUT
             , MANUFACTURE_DATE
             , ERROR_AMOUNT
             , MGR.NAME as MANAGER_NAME
             , PLAN.STATUS
             , PLAN.ADD_DATE
        FROM MANUFACTURE_PLAN as PLAN INNER JOIN MANAGER as MGR INNER JOIN RECIPE as RP
        ON PLAN.ID = MGR.ID AND RP.NO = PLAN.RECIPE_NO
        WHERE PLAN.NO = #{no}
    </select>

    <select id="count"
            parameterType="Map"
            resultType="int">
        SELECT COUNT(*) FROM MANUFACTURE_PLAN
        <where>
            <if test="start != null and start != ''
                        and end != null and end != ''">
                MANUFACTURE_DATE BETWEEN #{start} AND CONCAT(#{end}, ' 23:59:59')
            </if>
        </where>
    </select>

    <insert id="insert" useGeneratedKeys="true" parameterType="Manufacture"
                        keyColumn="NO" keyProperty="no">
        INSERT INTO MANUFACTURE_PLAN (RECIPE_NO, OUTPUT, ID, ADD_DATE)
        VALUES (#{recipeNo},
                #{output},
                #{id},
                current_timestamp()
                )
    </insert>

    <update id="update" useGeneratedKeys="true" keyColumn="NO" keyProperty="no"
            parameterType="Manufacture">
        UPDATE MANUFACTURE_PLAN
        <set>
            <if test="manufactureDate != null and manufactureDate != ''">
                MANUFACTURE_DATE = #{manufactureDate},
            </if>
            <if test="recipeNo gt 0">
                RECIPE_NO = #{recipeNo},
            </if>
            <if test="output gt 0">
                OUTPUT = #{output},
            </if>
            <if test="id != null and id != ''">
                ID = #{id},
            </if>
            <if test="errorAmount != 0">
                ERROR_AMOUNT = #{errorAmount},
            </if>
            <if test="status != null and status != ''">
                STATUS = #{status},
            </if>
        </set>
        WHERE NO = #{no}
    </update>

    <delete id="delete" parameterType="Manufacture">
        DELETE FROM MANUFACTURE_PLAN
        WHERE NO = #{no}
    </delete>
</mapper>