<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.rap.system.recipe.MixMapper">
    <select id="selectAll" parameterType="Mix"
            resultType="Mix">
        SELECT NO, RECIPE_NO, INGREDIENT_NO, PUMP_NO, RATIO FROM MIX
        <where>
            <if test="recipeNo gt 0">
                AND RECIPE_NO = #{recipeNo}
            </if>
        </where>
    </select>

    <insert id="insert" parameterType="Mix">
        INSERT INTO MIX (NO, RECIPE_NO, INGREDIENT_NO, PUMP_NO, RATIO)
        VALUES(
                #{no},
                #{recipeNo},
                #{ingredientNo},
                #{pumpNo},
                #{ratio}
              )
    </insert>

    <update id="update" parameterType="Mix">
        UPDATE MIX
        <set>
            <if test="ingredientNo gt 0">
                SET INGREDIENT_NO = #{ingredientNo},
            </if>
            <if test="pumpNo gt 0">
                SET PUMP_NO = #{pumpNo}
            </if>
            <if test="ratio gt 0">
                SET RATIO = #{ratio}
            </if>
        </set>

        <where>
            <if test="no gt 0">
                AND NO = #{no}
            </if>
        </where>
    </update>

    <delete id="delete" parameterType="Mix">
        DELETE FROM MIX
        <where>
            <if test="recipeNo gt 0">
                AND RECIPE_NO = #{recipeNo}
            </if>
        </where>
    </delete>
</mapper>