<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.rap.system.recipe.RecipeMapper">
    <select id="selectAll" parameterType="Recipe"
                           resultType="Recipe">
        SELECT NO, NAME, USED_COUNT, ADD_DATE FROM RECIPE
        <where>
            <if test="name != null and name != ''">
                AND NAME = #{name}
            </if>
        </where>
    </select>

    <select id="select" parameterType="Recipe"
                        resultType="Recipe">
        SELECT NO, NAME, USED_COUNT, ADD_DATE FROM RECIPE
        WHERE  NO = #{no}
    </select>

    <insert id="insert" parameterType="Recipe">
        INSERT INTO RECIPE (NAME, ADD_DATE)
            VALUES(
                      #{name},
                      now()
                  )
        <selectKey order="AFTER" keyColumn="NO" keyProperty="no"
                   resultType="int">
            SELECT NO FROM RECIPE WHERE NAME = #{name}
        </selectKey>
    </insert>

    <update id="update" parameterType="Recipe">
        UPDATE RECIPE
        <set>
            <if test="name != null and name != ''">
                NAME = #{name},
            </if>
            <if test="usedCount eq 1 and usedCount eq -1">
                USED_COUNT = USED_COUNT + #{usedCount},
            </if>
        </set>

        <if test="name != null and name != ''">
            WHERE NO = #{no}
        </if>
    </update>

    <delete id="delete" parameterType="Recipe">
        DELETE FROM RECIPE
        <where>
            <if test="no gt 0">
                AND NO = #{no}
            </if>
        </where>
    </delete>
</mapper>